#map {
  height: 100%;
  width: 100%;
  border-radius: 22px;
  overflow: hidden;
}

#map * {
  border-radius: 0;
}

#map .locationButton {
  background-color: #fff;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-right: 10px;
  padding: 0px;
}

.locationButton #locationIcon {
  margin: 6px;
  width: 28px;
  height: 28px;
  /* Background image will be Google Maps location icon spritesheet */
  background-image: none;
  background-size: 280px 28px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
