/* routesSubpage.css */

.routes-subpage-container{
  @apply  h-screen bg-lightTone w-full overflow-y-auto;

}

img {
  @apply rounded-3xl p-4 m-0; 
}

.title-container {
  @apply flex justify-between items-center w-full; 
}

.title-container h1 {
  @apply text-2xl ml-36 font-bold;
}

.saved-icon {
  @apply w-16 h-16 mb-0 grayscale-0;
}

.route-info {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  padding: 0.5rem;
  margin: 10px;
  margin-top: 20px;
  background-color: #fff;
  border: 0.5px solid #4e4a4a;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.route-info .route-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.route-info .text-lg {
  font-size: 17px; 
}

.route-info .text-sm {
  font-size: 10px; 
}

.nav-button {
  background-color: #165516;
  padding: 1rem;
  border-radius: 12px;
  color: #fff;
  margin: 10px;
}
