/* routesSubpage.css */

.routes-subpage-container{
  @apply  h-screen bg-lightTone w-full overflow-y-auto flex flex-col items-center pb-20;
}

.dark .routes-subpage-container{
  @apply bg-darkMode-darkTone;
}

img {
  @apply rounded-3xl p-4 m-0; 
}

.title-container {
  @apply flex justify-items-start w-80;
}

.saved-icon {
  @apply w-16 h-16 mb-0 grayscale-0 ;
}

.save{
  @apply transition-all duration-700 ease-out bg-lightMidTone text-darkTone text-sm px-5 my-3 pt-2 rounded-xl p-2 mx-0;
}

.halfw{
  @apply w-72;
}

.fullw{
  @apply w-full text-right;
}

.red{
  filter: invert(72%) sepia(45%) saturate(5044%) hue-rotate(319deg) brightness(105%) contrast(82%);
}

.route-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 90%;
  margin-top: 10px;
  background-color: #fff;
  border: 0.5px solid #4e4a4a;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark .route-info {
  @apply bg-darkMode-lightTone text-white;
}

.route-info .route-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.route-info .text-lg {
  font-size: 17px; 
}

.route-info .text-sm {
  font-size: 10px; 
}

.nav-button {
  background-color: #165516;

  padding: 1rem;
  border-radius: 12px;
  color: #fff;
  margin: 10px;
}
